//////////////////////////////////////////////////////////////////////////// category
.category-container {
  margin-bottom: 25px;
}

.category-heading {
  font-size: 1em;
  font-family: var(--heading-font);
  margin-bottom: 10px;
  color: var(--accent-color);
}

//////////////////////////////////////////////////////////////////////////// todo
.todo-container {
  display: flex;
  margin-top: 5px;
  font-size: 1em;
  * {
    align-self: center;
  }
}

.todo-checkbox {
  background-color: var(--secondary-color);
  border-radius: 4px;
  margin: 2px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.todo-checkbox:hover {
  border: 2px solid var(--tertiary-color);
}

.todo-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-body-left {
  display: flex;
  :not(:first-child) {
    color: var(--tertiary-color);
    font-size: 18px;
    padding-left: 5px;
  }
}

.todo-timestamp-container {
  display: flex;
  color: var(--tertiary-color);
  font-weight: 800;
  * {
    margin-right: 10px;
  }
  :last-child {
    margin-right: 0;
  }
}

.todo-overdue {
  color: var(--warning-color);
}

//////////////////////////////////////////////////////////////////////////// topbar
.topbar-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  * {
    align-self: center;
    font-size: 1.3em;
    color: var(--tertiary-color);
  }
  svg {
    font-size: 1em;
  }
}

//////////////////////////////////////////////////////////////////////////// add todo
.add-todo-container {
  display: flex;
  padding: 10px;
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  margin-bottom: 30px;
}

.add-todo-content {
  display: flex;
  width: 100%;
  padding: 5px 0;
  flex-direction: column;
  flex-wrap: wrap;
}

.add-todo-row {
  display: flex;
  width: 100%;
  * {
    font-size: 1em;
    margin-right: 15px;
  }
  input { // all input fields other than the first one
    width: 80px;
  }
  :first-child { // the body
    width: auto;
    flex-grow: 2;
  }
  svg { // icons
    margin-right: 0;
  }
  input[type="date"], input[type="time"] {
    appearance: none;
    font-family: var(--content-font);
    color: var(--tertiary-color);
  }
}

.add-todo-color-picker {

}

.submit-button {
  display: none;
}

///////////////////////////////////////////////////////////////////////////// pill

.pill {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 100%;
  border: 2px solid var(--secondary-color);
  width: 25px;
  height: 25px;
}

.pill-active {
  border-color: var(--text-color);
}

.pill:hover {
  border: 2px solid var(--text-color);
}
