// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  // fonts
  --heading-font: "Roboto";
  --content-font: "Roboto";

  //colors
  --background-color: #1C1C1C;
  --secondary-color: #404040;
  --tertiary-color: #8C8C8C;
  --text-color: #F2F2F2;
  --accent-color: #D99962;
  --warning-color: #d15d5d;
}


// basic reset
html {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: var(--content-font);
  background-color: var(--background-color);
}

input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--tertiary-color);
  color: var(--text-color);
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}